<footer class="bg-dark text-light">
  <div class="container">
    <row>
    <%= link_to "Privacy Policy", privacy_policy_path %>
    <%#= link_to "Contact", contact_path %>
    <p></p>
     </row>
  </div>
  
</footer>