<footer class="bg-dark text-light">
  <div class="container">
    <p></p>
    <%= link_to "Privacy Policy", privacy_policy_path %>
    <%#= link_to "Contact", contact_path %>
    <p></p>

  </div>
  
</footer>